


<html>
<head></head>
<body>
     <div style="min-width:100%;width:100%;background-color:#f1f5f9">
      <table align="center" style="border:0;border-collapse:collapse;margin:0 auto!important;padding:0;max-width:600px;min-width:600px;width:600px">
        <tbody>
        <tr>
          <td style="border:0;border-collapse:collapse;margin:0;padding:0">


            <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0">
              <tbody>
                <tr>
                  <td height="20" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                 </tr>
              </tbody>
            </table>

          <div style="border-bottom-left-radius:5px;border-bottom-right-radius:5px">
            
            <!-- logo img table -->
              <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                <tbody>
                   <tr>
                    <td height="50" width="50">
                      
                    </td>
                  </tr>
                  <tr>
                    <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                    <td align="center" style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;vertical-align:middle;color:#32325d;font-size: 0;line-height:0;">
                       <!-- <img style="display:block;line-height:0px;font-size:0px;border:0px;" src="http://divine9connections.com/logo.jpg" width="80" height="80" alt="logo"> -->
                    </td>
                    <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                  </tr>

                   <tr>
                    <td height="20" width="50"></td>
                  </tr>
                </tbody>
              </table>
              <!-- logo img table-->

                <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                  <tbody>
                  <tr>
                    <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                    <td align="center" style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;vertical-align:middle;color:#32325d;font-size: 15px;line-height: 24px;font-weight: 500;">
                      
                    </td>
                    <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                  </tr>
                  </tbody>
                </table>

                <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                  <tbody>
                  <tr>
                    <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                    <td align="center" style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;vertical-align:middle;color:#32325d;font-size: 15px;line-height:22px;font-weight: 500;">
                       <span style="text-transform: capitalize;">Hello {{username}},</span> <br>
                       <span> Please use the below code to reset your password.</span>
                    </td>
                    <td width="64" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                  </tr>
                  </tbody>
                </table>

                  <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff;display: none;">
                    <tbody>
                      <tr>
                        <td height="8" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>          

                <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                  <tbody>
                    <tr>
                      <td height="18" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                     </tr>
                  </tbody>
                </table>


                 <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                  <tbody>
                    <tr>
                       <td align="center" style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;vertical-align:middle;color:#32325d;font-size: 15px;line-height:20px;font-weight: 500;">
                       Here is your password reset code: <span style="background: yellow;">{{token}}</span>
                    </td>
                    </tr>
                 </tbody>
                 </table>

                  <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                  <tbody>
                    <tr>
                      <td height="20" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                     </tr>
                  </tbody>
                </table>


                  <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                  <tbody>
                    <tr>
                       <td align="center" style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;vertical-align:middle;color:#32325d;font-size: 15px;line-height:20px;font-weight: 500;">
                       Thanks
                    </td>
                    </tr>
                 </tbody>
                 </table>

                  

                 {{--<table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff">
                  <tbody>
                    <tr>
                       <td align="center" style="border:0;border-collapse:collapse;margin:0;padding:0;width:472px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;vertical-align:middle;color:#32325d;font-size: 15px;line-height:20px;font-weight: 500;">
                      The Social account team
                    </td>
                    </tr>
                 </tbody>
                 </table>--}}


                  <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff"><tbody><tr><td height="32" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px;height: 20px;">&nbsp;</td></tr></tbody></table>



                   <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0;background-color:#ffffff;border-bottom-left-radius:5px;border-bottom-right-radius:5px">
                  <tbody>
                    <tr>
                      <td height="40" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                </tr>
                </tbody>
                </table>

                </div>

                 <table width="100%" style="border:0;border-collapse:collapse;margin:0;padding:0">
                  <tbody>
                    <tr>
                      <td height="40" style="border:0;border-collapse:collapse;margin:0;padding:0;color:#ffffff;font-size:1px;line-height:1px">&nbsp;</td>
                     </tr>
                  </tbody>
                </table>
                </td>
            </tr>
           </tbody>
           </table>
        </div>




</body>
</html>

